
  @media screen and (max-width:600px) {
      .search{
          visibility: hidden;
      }
      .card-items{
        width: fit-content;
      }
  }
  @media screen and (min-width:600px) {
    p:hover {
        color: peru;
      }
      .card-items {
        width: 16%;
      }
}
  @media screen and (max-width:352px) {
    header nav ul li a {
        font-size: 14px;
      }
  }
  @media screen and (min-width:352px) {
    header nav ul li a {
        font-size: 22px;
      }
  }