
  @media screen and (max-width:600px) {
      .search{
          visibility: hidden;
      }
      .card-items{
        width: fit-content;
      }
  }
  @media screen and (min-width:600px) {
    p:hover {
        color: peru;
      }
      #searchbar {
        width: 30vw;
        height: 45px;
        border-radius: 5px;
        padding: 0px 12px;
        position: absolute;
        top: 5px;
        left: 352px;
      }
      .card-items {
        width: 16%;
      }
}
  @media screen and (max-width:352px) {
    header nav ul li a {
        font-size: 14px;
      }
  }
  @media screen and (min-width:352px) {
    header nav ul li a {
        font-size: 22px;
      }
  }