* {
  padding: 0;
  margin: 0;
  font-family: "Montserrat Alternates", sans-serif;
}
:root {
  --main-bg-color: #fdd037;
}
footer {
  background-color: white;
  color: black;
  height: 10vh;
}
.container {
  min-height: calc(100vh - 10vh - 10vh);
  background-color: #fdd037;
}
.cover {
  width: 100%;
}
.search {
  display: flex;
  align-items: center;
  width: 30vw;
}
#searchbar {
  width: 30vw;
  height: 45px;
  border-radius: 5px;
  padding: 0px 12px;
  position: absolute;
  top: 5px;
  left: 352px;
}
.card {
  display: flex;
  justify-content: center;
  background-color: #fdd037;
  display: inline-block;
  width: 100%;
}
.card h2 {
  margin: 12px auto;
  text-align: center;
}
.lines {
  text-align: center;
}
.card-items {
  height: fit-content;
  display: inline-block;
  margin: 20px;
  border: 2px solid white;
  background-color: #12adc1;
}

.nav_bar {
  width: 100%;
  height: 60px;
}
.icon {
  width: 20px;
}
